services:
  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - AUTH_SERVICE_URL=http://host.docker.internal:3001
      - CINEMA_SERVICE_URL=http://host.docker.internal:3002
      - FILM_SERVICE_URL=http://host.docker.internal:3003
      - BOOKING_SERVICE_URL=http://host.docker.internal:3004
    extra_hosts:
      - "host.docker.internal:host-gateway"
