services:
  cinema-db:
    image: postgres:13.5
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DATABASE=cinema-microservice
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  postgres:
