services:
  auth-db:
    image: postgres:13.5
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=auth-microservice
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5431:5432"

volumes:
  postgres:
